.sonetworkicons{
    padding:0 1rem;
    display: flex;
    font-size: 2.8rem;
    align-items: center;
    font-size: 4rem;
    .fb{
        color:#5a88e2;
        cursor:pointer;
    }
    .twitter{
        color:#1ca1f1;
        cursor:pointer

    }
    .instagram{
        color:#ad299c;
        cursor:pointer
    }
}
//sonetworkicons
//socialnetworks