.maintrail{
    .button_group{
        button{
            display: block;
        }
    }
    .violet{

    }
    .indigo{

    }
    .blue{

    }
    .green{

    }
    .yellow{

    }
    .orange{

    }
    .red{

    }

    .violet,.indigo,.blue,.green,.yellow,.orange,.red{
        background-color: red;
        margin:5rem;
        height: 25rem;
    }
    
}